@font-face {
    font-family: Supermagical;
    src: url(../Fonts/Super\ Magical.ttf);
}

@font-face {
    font-family: Superkids;
    src: url(../Fonts/Super\ Kids.otf);
}

@font-face {
    font-family: Lemonmilk;
    src: url(../Fonts/LEMONMILK-BoldItalic.otf);

}

@font-face {
    font-family: Devil;
    src: url(../Fonts/DevilCandleAlt_PERSONAL_USE_ONLY.otf);
}
