{% load static %}
<!-- cargando las etiquetas y los filtros para manejar archivos estáticos -->

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    


    <title>Lista de tipos de pagos</title>
</head>
<body>
    
    <h1>Lista de tipos de pagos</h1>
    <ul>
        {% for n in pago %}
            <li> {{n.tipo_de_pago}} 
                <a href="{% url 'pago_edit' n.id %}">Editar</a>
                <a href="{% url 'pago_delete' n.id %}">Eliminar</a>
            </li>
        {% endfor %}
    </ul>
    <ul>
        <li><a href="{% url 'pago_add' %}">Agregar nuevo pago </a></li>
        <li><a href="{% url 'tipo_usuario_list' %}">Lista de tipos de usuarios</a></li>
        <li><a href="{% url 'tipo_plan_list' %}">Lista de tipo de planes</a></li>
    </ul>
  
    
    


    <!-- JavaScript Personalizado -->
    <script src="{% static 'js/validaciones.js' %}"></script>

</body>
</html>
