{% load static %}
<!-- cargando las etiquetas y los filtros para manejar archivos estáticos -->

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    


    <title>Lista de usuarios</title>
</head>
<body>
    
    <h1>Lista de Usuarios</h1>
    <ul>
        {% for n in usuario %}
            <li>{{ n.nombre }} {{ n.apellido }} - {{ n.telefono }}
                <a href="{% url 'usuario_edit' n.id %}">Editar</a>
                <a href="{% url 'usuario_delete' n.id %}">Eliminar</a>
            </li>
        {% endfor %}
    </ul>
    <ul>
        <li><a href="{% url 'usuario_add' %}">Agregar nuevo usuario </a></li>
        <li><a href="{% url 'tipo_usuario_list' %}">Lista de tipos de usuarios</a></li>
        <li><a href="{% url 'tipo_plan_list' %}">Lista de tipo de planes</a></li>
        <li><a href="{% url 'pago_list' %}">Lista de pagos</a></li>

    </ul>
  
    
    


    <!-- JavaScript Personalizado -->
    <script src="{% static 'js/validaciones.js' %}"></script>

</body>
</html>
