
@font-face {
  font-family:SourGummy-Light ;
  src: url(../fonts/SourGummy-Light.ttf);
}
@font-face {
  font-family: League-spartan;
  src: url(../fonts/LeagueSpartan-VariableFont_wght.ttf);
}

textarea {
  width: 100%;
  padding: 15px 30px;
  display: block;
  min-width: 300px;
  max-width: 500px;
  width: 50vw;
  height: 20px;

}

form-floating {
  position: absolute;
  left: 100%;
  transform: translate(-50%, -50%);
}


.boton{
  background-color:white;
  font-size: 20px;
  border-radius: 40px;
  width: 250px;
  margin:10px auto;
  font-family:SourGummy-Light ;

  transition: all;
  transition-duration: 1s;
  
}
.loader{
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: solid 10px #0000003d ;
    border-left: solid 10px #00000027  ;
    border-radius: 50%;
    animation : 2s girar infinite both;
  
  }

.boton-text{
    opacity:100%;
    transition: opacity 1s; 
  }
.boton-text-a{
    opacity:0;
  }
  
  
@keyframes girar{
    from{
      transform: rotate(0deg);
    }
    to{
      transform: rotate(360deg);
    }
  }
.t-form{
    font-family: League-spartan;
    font-size: 40px;
    margin: auto;
}

body {
  background-color: aquamarine;
}

.nav{
  display:flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.nav-bar{
  display:flex;
  flex-direction: row;
  background-color: #CEF4A9;
  justify-content: space-between;
  align-items: center;
}
.img-logo{
  padding:10px;
  height: clamp(40px,3vw,150px);
  width: auto;
}
.icon {
  width:clamp(30px,5vw,40px);
  height: auto;
  box-sizing: border-box;
  padding: 5px;
}