body{
    background-color: #E0FFC3;
    text-align: center;
}
.navbarnavbar{
    background-color: #CEF4A9;
}
.registrarse{
    text-align: center;
    height: 10px;
}
.register{
    left: 20px
}
.inicio-sesion{
    text-align: center;
}